.btnAllProducts{
    width: 70%;
    margin: auto;
    text-align: right;
    margin-bottom: 40px;
}

.btnAllProducts button{
    border: none;
    background-color: teal;
    color: white;
    padding: 8px 15px;
    cursor: pointer;
}

.terms{
    width: 70%;
    margin: auto;
    background-color: white;
    border: 1px solid black;
    height: 80vh;
    position: fixed;
    top: 10%;
    left: 13%;
    z-index: 10;
    padding: 20px;
    box-sizing: border-box;
}