.choose{
    display: flex;
    /* justify-content: space-evenly; */
    margin: auto;
    background-color: wheat;
}

.choose div{
    padding:5px;
    text-align: center;
    width:50%
}

.select{
    width: 50%;
    background-color: teal;
    color: white;
    font-size: bold;
}
.container{
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

table,td,th,tr{
    border:1px solid black
}
div{
    margin:auto;
    width: 100%;
}
table{
    margin: auto;
    width: 100%;
    margin-top: 20px;
}

div>div>button{
    border: none;
    color: white;
    background-color: teal;
    padding: 5px;
    cursor: pointer;
}
